
:root{
    --amarillo:#fdf83d;
    --azuloscuro:#045666;
    --blanco: #fff;
}

/*///Medidas generales///*/
*{
    scroll-behavior: smooth;
}
html{
    overflow-x: hidden;
}
.container-responsive{
    position: relative;
}
a{
    text-decoration: none;
    cursor: pointer
}
.ctn-barra-item{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    /* flex-wrap: wrap; */
}
.ctn-barra-item_titulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ctn-barra-item_precio{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: end;
}
/*///////Header//////*/
.logito{
    max-width: 190px;
    object-fit: contain;
}

.logo{
    margin: 10px 0 0 0;
}

.items{
    min-height: 300px;
    text-align: center;
    color: var(--blanco);
}

li{
    list-style: none;
    cursor: pointer;
    font-size: 26px;
    padding: 8px 0;
    letter-spacing: 1px;
    user-select: none; 
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 92vh;
    background-color: var(--azuloscuro);
    min-width: 320px;
}

.btn-reserva{
    margin-top: 40px;
    background-color: var(--blanco);
    border-radius: 15px;
    transition: 300ms all;
    padding: 10px;
}
.btn-reserva:hover{
    background-color: #61d3f2;
    color: var(--blanco);
    transition: 300ms all;
}
.a_reservas{
    color: var(--azuloscuro);
}
.items-inicio{
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    line-height: 1.5rem;
}
.menu-items{
    overflow: hidden;
    max-height: 0;
    transition: .7s ease all;
}
.menu-items.active{
    transition: .7s ease all;
    visibility: visible;
    max-height: 100px;
    overflow: hidden;
}

.menu-items a:hover{
    background-color: rgba(255, 255, 255, 0.205);
}
/*///////Menu/////////*/

.container_menu{
    display: none;
}
.container_pescado{
    display: none;
}
.container_hamburguesa{
    display: none;
}
.container_salsa{
    display: none;
}

.container_menu.active{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.container_pescado.active{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.container_hamburguesa.active{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.container_salsa.active{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
/*//////Barra///////*/

.barra-items{
    overflow: hidden;
    max-height: 0;
    transition: .7s ease all;
}
.barra-items.active{
    transition: .7s ease all;
    visibility: visible;
    max-height: 60px;
    overflow: hidden;
}
.btn__item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: var(--amarillo);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.2rem;
    font-family: 'Mulish', sans-serif;
}
.barra-items a:hover{
    background-color: rgba(255, 255, 255, 0.205);
}
/*/Barra active/*/
.container_desayuno{
    display: none;    
}
.container_cerveza{
    display: none;
}
.container_gaseosa{
    display: none;
}
.container_cocteles{
    display: none;
}
.container_desayuno.active{
    display: block;
    margin-bottom: 40px;
}
.container_cerveza.active{
    display: block;
    margin-bottom: 40px;
}

/*//////History//////*/
.history{
    font-size: 4em;
}
.inicio{
    display: none;
}
.inicio.desactivado{
    display: none;
}

/*/////Barra productos////*/
.container-barra-mayor{
    margin-inline: 10px;
}
.nombre_barra{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: var(--azuloscuro);
}
.descrip_barra{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: var(--azuloscuro);
}
.precio_barra{
    display: block;
    min-width: max-content;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: var(--azuloscuro);
}
.container-poo__barra{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.catalogo-block{
    text-align: center;
    color: var(--azuloscuro);
    font-family: 'Abel', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    padding: 20px;
}
.catalogo-block__vinos{
    text-align: center;
    color: var(--azuloscuro);
    font-family: 'Abel', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin: 0;
}
/*/////POO Containers//////*/
.container-poo{
    min-width: 320px;
    max-width: 700px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}
.nombre{
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: var(--azuloscuro);
    text-align: start;
}
.descrip{
    font-family: 'Abel', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color: var(--azuloscuro);
    text-align: start;
}
.precio{
    font-family: 'Abel', sans-serif;
    font-size: 1.6em;
    color: var(--azuloscuro);
    font-weight: 800;
    white-space: nowrap;
    text-align: end;
}
hr{
    border: 1px var(--azuloscuro) solid;
    width: 150px;
    margin: 30px auto;
}
.subtitulo{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    color: var(--azuloscuro);
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 1.6em;
}
.titulo_imagen{
    width: 400px;
    min-width: 200px;
    padding-top: 40px;
    margin: 0 auto;
}
.titulo-vinos{
    font-weight: bold;
    background-color: var(--azuloscuro);
    color: var(--blanco);
    width: 50%;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
    border-radius: 50px;
}
/*//////CARD////////*/

.card{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
}
.card_text{
    margin-right: 15px;
    font-size: 1.1em;
    color: var(--azuloscuro);
}

/*//////WEAS//////////*/
main{
    position: relative;
    text-align: center;
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
    min-width: 320px;
}

body{
    background: #FBFCFC;
}
.container-lista{
    width: 190px;
    border-radius: 7px;
}
/*///////UPPER///////////*/

.btn-upper,.flechita{
    display: none;
}

.btn-upper.active{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #045666;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 40px;
}
.flechita.active{
    width: 100%;
    height: 100%;
    font-size: 38px;
    padding-top: 8px;
}
/*///////FOOTER////////////////*/
footer{
    position: sticky;
    bottom: 0;
    display: flex;
    height: 8vh;
    width: 100%;
    background: rgb(4,86,102);
    background: linear-gradient(0deg, rgba(4,86,102,1) 70%, rgba(255,255,255,1) 100%);
    justify-content: space-around;
    flex-wrap: nowrap;
    z-index: 10;
    min-width: 320px;
    overflow: hidden;
}
footer::after{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 20px;
    background-color: #045666;
}
.dotmap,.ig,.fb{
    font-size: 20px;
    color: #fff;
}
.ig{
    margin-right: 15px;
}
.item_footer{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.text-footer{
    font-size: 18px;
    margin-inline: 6px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    color: #fff;
}
.btn-online{
    color: #fff;
    font-weight: 300;
}
/*///////Mediaquerys/////*/

@media only screen and (max-width:573px){
    .text-social,.dotmap,.text-direccion{
        display: none;
    }
}
@media only screen and (min-width:64em){ 
    .btn-upper.active,.flechita.active{
        display: none;
    }
    header{
        height: 92vh;
    }
    .inicio{
        display: grid;
        height: 100%;
        align-content: center;
        font-family: 'Roboto Condensed', sans-serif;
        color: var(--azuloscuro);
        font-size: 26px;
    }
    .container-barra-mayor{
        margin-inline: 80px;
    }
    .container-responsive{
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 92vh;
    }
    .btn_abrir:hover{
        background-color: rgba(255, 255, 255, 0.225);
    }
    .titulo_imagen{
        margin-top: 40px;
    }
    /*/////DEGRADE MAIN CONTAINER//////*/
    main::before{
        content: "";
        position: fixed;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top,#51c3e000,#fff);
        /* background-color: #51c4e0; */
        top: 0px;
        left: 340px;
    }
    main::after{
        content: "";
        position: fixed;
        width: 100%;
        height: 100px;
        /* background-color: #ada74b; */
        background: linear-gradient(to bottom,#ada64b00,#fff);
        bottom: 25px;
        left: 340px;
    }
    main::-webkit-scrollbar {
        width: 12px;
      }
    main::-webkit-scrollbar-track {
        background-color: #ffffff83;
        border-radius: 50px;
        margin: 20px;
      }
    main::-webkit-scrollbar-thumb {
        border-radius: 50px;
        border-left: 0;
        border-right: 0;
        background-color: var(--azuloscuro);
      }
}
