@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/*///Medidas generales///*/
*{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer
}
h2{
    font-size: 2em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.30em;
    padding: 10px;
}
h4{
    font-size: 1.60em;
    font-family: 'Oswald', sans-serif;
}


/*///////Header//////*/
.logito{
    height: 250px;
    object-fit: contain;
}

.logo{
    margin: 10px 0 0 0;
}

.items{
    text-align: center;
    margin-top: 5px;
    color: rgb(4, 4, 4);
}

li{
    list-style: none;
    cursor: pointer;
    font-size: 2em;
    padding: 14px;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.items-inicio{
    font-family: 'Roboto Condensed', sans-serif;
}
.menu-items{
    font-family: 'Oswald', sans-serif;
    font-size: .8em;
    background-color: rgba(29, 71, 59, 0.275);
    overflow: hidden;
    height: 0;
    transition: 1s ease all;
}
.menu-items.active{
    transition: 1s ease all;
    visibility: visible;
    height: 160px;
    overflow: hidden;
}
.menu-items a{
    display: flex;
    flex-direction: column;
    font-size: 1.9em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px;
}
.menu-items a:hover{
    background-color: rgba(255, 255, 255, 0.205);
}
/*///////Menu/////////*/

.container_menu{
    display: none;
}
.container_pescado{
    display: none;
}
.container_hamburguesa{
    display: none;
}
.container_salsa{
    display: none;
}

.container_menu.active{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.container_pescado.active{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.container_hamburguesa.active{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.container_salsa.active{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
/*//////Barra///////*/

.barra-items{
    font-family: 'Oswald', sans-serif;
    font-size: .8em;
    background-color: rgba(29, 71, 59, 0.275);
    overflow: hidden;
    height: 0;
    transition: 1s ease all;
}
.btn__item{
    color: #222222;
}
.barra-items.active{
    transition: 1s ease all;
    visibility: visible;
    height: 90px;
    overflow: hidden;
}
.barra-items a{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px;
}
.barra-items a:hover{
    background-color: rgba(255, 255, 255, 0.205);
}
/*/Barra active/*/
.container_desayuno{
    display: none;    
}
.container_cerveza{
    display: none;
}
.container_gaseosa{
    display: none;
}
.container_cocteles{
    display: none;
}
.container_desayuno.active{
    display: block;
    margin-bottom: 40px;
}
.container_cerveza.active{
    display: block;
    margin-bottom: 40px;
}

/*//////History//////*/
.history{
    font-size: 4em;
}
.inicio{
    display: none;
}
.inicio.desactivado{
    display: none;
}

/*/////Barra productos////*/
.container-barra-mayor{
    margin-inline: 10px;
}
.nombre_barra{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #fff;
}
.descrip_barra{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #fff;
}
.precio_barra{
    display: block;
    min-width: max-content;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #fff;
}
.container-poo__barra{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.catalogo-block{
    text-align: left;
    color: #ffff30;
    font-family: 'Roboto Condensed', sans-serif;
}
.catalogo-block__vinos{
    text-align: left;
    font-weight: 400;
    color: rgb(255, 255, 200);
    font-family: 'Roboto Condensed', sans-serif;
}
/*/////POO Containers//////*/
.nombre{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    font-weight: 300;
    color: rgb(253, 252, 156);
}
.descrip{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    color: rgb(250, 250, 250);
}
.precio{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5em;
    color: #83ff9e;
}
hr{
    border: 1px rgb(253, 252, 156) solid;
    width: 150px;
    margin: 30px auto;
}
.subtitulo{
    color: rgb(253, 252, 156);
    background-color: #10643766;
    padding: 10px;
    font-size: 2.5em;
    font-weight: 300;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
}
.titulo_imagen{
    width: 700px;
    margin: 60px auto;
}
/*//////CARD////////*/

.card{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.card_text{
    margin-right: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

/*//////WEAS//////////*/
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("../assets/img/Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 60px;
    padding-bottom: 240px;
}
main{
    position: relative;
    text-align: center;
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
}
main::-webkit-scrollbar {
    width: 12px;
  }
main::-webkit-scrollbar-track {
    background-color: #ffffff83;
    border-radius: 50px;
    margin: 20px;
  }
main::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border-left: 0;
    border-right: 0;
    background-color: rgb(247, 241, 71);
  }

body{
    background: linear-gradient(to top, #ada74b, #51c4e0);
}
.container-lista{
    background-color: rgba(241, 237, 107);
    width: 220px;
}

/*///////FOOTER////////////////*/
footer{
    display: flex;
    height: 4vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(133,224,255,1) 0%, rgba(249,255,170,1) 100%);
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.dotmap,.fono,.ig,.fb{
    width: 16px;
    height: 16px;
    color: #fff;
    margin-left: 15px;
}
.item_footer{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.text-footer{
    font-size: 18px;
    margin-inline: 6px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #000;
}
.btn-online{
    background-color: rgba(241, 237, 107);
    color: #146981;
    padding-inline: 15px;
    border-radius: 15px;
    font-weight: 500;
}
/*///////Mediaquerys/////*/
@media only screen and (max-width:360px){
    .text-direccion{
        display: none;
    }
}
@media only screen and (max-width:570px){
    .text-social,.dotmap{
        display: none;
    }
}
@media only screen and (min-width:64em){ 
    header{
        height: 96vh;
    }
    .inicio{
        display: grid;
        height: 96vh;
        align-items: center;
        align-content: center;
        font-family: 'Roboto Condensed', sans-serif;
        color: #ffff7b;
        font-size: 26px;
    }
    .container-barra-mayor{
        margin-inline: 80px;
    }
	.container-responsive {
        display: flex;
        justify-content: center;
    }
    .container-responsive{
        width: 100vw;
        height: 96vh;
    }
    .items-inicio:hover{
        background-color: rgba(255, 255, 255, 0.225);
    }
    .titulo_imagen{
        margin-top: 40px;
    }
    /*/////DEGRADE MAIN CONTAINER//////*/
    main::before{
        content: "";
        position: fixed;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top,#51c3e000,#51c4e0);
        /* background-color: #51c4e0; */
        top: 0px;
        left: 340px;
    }
    main::after{
        content: "";
        position: fixed;
        width: 100%;
        height: 100px;
        /* background-color: #ada74b; */
        background: linear-gradient(to bottom,#ada64b00,#ada74b);
        bottom: 27px;
        left: 340px;
    }
}
