@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/*///Medidas generales///*/
*{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #fff;
    cursor: pointer
}
h2{
    font-size: 2em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.30em;
    padding: 10px;
}
h4{
    font-size: 1.60em;
    font-family: 'Oswald', sans-serif;
}


/*///////Header//////*/
.logito{
    height: 250px;
    object-fit: contain;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.items{
    text-align: center;
    margin-top: 5px;
    color: rgb(247, 255, 129);
}

li{
    list-style: none;
    cursor: pointer;
    font-size: 2em;
    padding: 14px;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.items-inicio{
    font-family: 'Roboto Condensed', sans-serif;
}
.menu-items{
    font-family: 'Oswald', sans-serif;
    font-size: .8em;
    color: rgb(255, 255, 255);
    background-color: rgba(29, 71, 59, 0.275);
    overflow: hidden;
    height: 0;
    transition: 1s ease all;
}
.menu-items.active{
    transition: 1s ease all;
    visibility: visible;
    height: 160px;
    overflow: hidden;
}
.menu-items a{
    display: flex;
    flex-direction: column;
    font-size: 1.9em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px;
}
.menu-items a:hover{
    background-color: rgba(255, 255, 255, 0.205);
}
/*///////Menu/////////*/

.container_menu{
    display: none;
}
.container_pescado{
    display: none;
}
.container_hamburguesa{
    display: none;
}
.container_salsa{
    display: none;
}

.container_menu.active{
    display: flex;
    flex-direction: column;
}
.container_pescado.active{
    display: flex;
    flex-direction: column;
}
.container_hamburguesa.active{
    display: flex;
    flex-direction: column;
}
.container_salsa.active{
    display: flex;
    flex-direction: column;
}
/*//////Barra///////*/

.barra-items{
    font-family: 'Oswald', sans-serif;
    font-size: .8em;
    color: rgb(255, 255, 255);
    background-color: rgba(29, 71, 59, 0.275);
    overflow: hidden;
    height: 0;
    transition: 1s ease all;
}
.barra-items.active{
    transition: 1s ease all;
    visibility: visible;
    height: 90px;
    overflow: hidden;
}
.barra-items a{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px;
}
.barra-items a:hover{
    background-color: rgba(255, 255, 255, 0.205);
}
/*/Barra active/*/
.container_desayuno{
    display: none;    
}
.container_cerveza{
    display: none;
}
.container_gaseosa{
    display: none;
}
.container_cocteles{
    display: none;
}
.container_desayuno.active{
    display: block;
}
.container_cerveza.active{
    display: block;
}
.container_gaseosa.active{
    display: block;
}
.container_cocteles.active{
    display: block;
}
/*//////History//////*/
.history{
    font-size: 4em;
}

/*///////Mediaquerys/////*/

@media only screen and (min-width:64em) { 
	.container-responsive {
        display: flex;
        justify-content: center;
    }
}

/*/////POO Containers//////*/

.nombre{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    color: rgb(253, 252, 156);
    font-weight: 300;
}
.descrip{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    color: rgb(241, 241, 241);
}
.precio{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5em;
    color: rgb(174, 251, 164);
    background-color: rgba(201, 201, 201, 0.205);
    padding: 5px 0px;
    border-radius: 60px;
}
.container-poo{
    background-color: #10643766;
    margin-inline: 40px;
    padding: 40px;
    border-radius: 15px;
    width: 650px;
    margin: 0 auto;
}
.subtitulo{
    color: rgb(253, 252, 156);
    background-color: #10643766;
    padding: 10px;
    font-size: 2.5em;
    font-weight: 300;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
}
.titulo_imagen{
    width: 700px;
    margin: 0 auto 40px auto;
}
/*//////WEAS//////////*/
.container-responsive{
    width: 100vw;
    height: 100vh;
}
header{
    position: static;
    padding-inline: 100px;
    background-color: rgba(230, 230, 230, 0.378);
    background-image: url("img/Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 auto;
    width: 100vw;
}
main::-webkit-scrollbar {
    width: 12px;
  }
main::-webkit-scrollbar-track {
    background-color: #e4e4e45f;
    border-radius: 50px;
    margin: 20px 0;
  }
main::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 6px solid rgba(0, 0, 0, 0.098);
    border-left: 0;
    border-right: 0;
    background-color: rgb(241, 237, 107);
  }

body{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container-lista{
    border: rgb(241, 237, 107) 3px solid;
    border-radius: 20px;
    background-color: rgba(57, 189, 108, 0.469);
    min-width: 250px;
    display: sticky;
}


