@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/*///Medidas generales///*/
*{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #fff;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.30em;
    padding: 10px;
}
h4{
    font-size: 1.60em;
    font-family: 'Oswald', sans-serif;
}
main{
    text-align: center;
}
header{
    padding-inline: 60px;
}
/*///////Header//////*/
.logito{
    height: 300px;
    object-fit: contain;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.items{
    text-align: center;
    margin-top: 5px;
    color: rgb(247, 255, 129);
}

li{
    list-style: none;
    cursor: pointer;
    font-size: 2em;
    padding: 14px;
    letter-spacing: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.items-inicio{
    font-family: 'Roboto Condensed', sans-serif;
}
.menu-items{
    font-family: 'Oswald', sans-serif;
    font-size: .8em;
    color: rgb(255, 255, 255);
    background-color: rgba(29, 71, 59, 0.275);
    overflow: hidden;
    height: 0;
    transition: 1s ease all;
}
.menu-items.active{
    transition: 1s ease all;
    visibility: visible;
    height: 240px;
    overflow: hidden;

}
/*///////Menu/////////*/

.container_menu{
    display: none;
}
.container_pescado{
    display: none;
}
.container_hamburguesa{
    display: none;
}
.container_salsa{
    display: none;
}

.container_menu.active{
    display: flex;
    flex-direction: column;
}
.container_pescado.active{
    display: block;
}
.container_hamburguesa.active{
    display: block;
}
.container_salsa.active{
    display: block;
}
/*//////Barra///////*/

.barra-items{
    display: none;
}
.barra-items.active{
    display: block;
    color:#fff;
    font-family: 'Fredericka the Great', cursive;
    font-size: 0.6em;
    font-weight: bold;
    
}
/*/Barra active/*/
.container_desayuno{
    display: none;    
}
.container_cerveza{
    display: none;
}
.container_gaseosa{
    display: none;
}
.container_cocteles{
    display: none;
}
.container_desayuno.active{
    display: block;
}
.container_cerveza.active{
    display: block;
}
.container_gaseosa.active{
    display: block;
}
.container_cocteles.active{
    display: block;
}
/*//////History//////*/
.history{
    font-size: 4em;
}

/*///////Mediaquerys/////*/

@media only screen and (min-width:64em) { 
	.container-responsive {
        display: flex;
        justify-content: center;
    }
    main{
        margin-top: 20px;
    }
    header{
        margin-top: 40px;
    }
}

/*/////POO Containers//////*/

.nombre{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    color: rgb(253, 252, 156);
    font-weight: 300;
}
.descrip{
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    color: rgb(241, 241, 241);
}
.precio{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5em;
    color: rgb(174, 251, 164);
    background-color: rgba(201, 201, 201, 0.205);
    padding: 5px;
    border-radius: 60px;
}
.container-poo-pique{
    background-color: #10643766;
    margin-inline: 40px;
    padding: 40px;
    border-radius: 15px;
}
/*//////WEAS//////////*/

header{
    height: min-content;
    padding-bottom: 60px;
}
body{
    background-image: url("img/Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container-lista{
    border: rgb(241, 237, 107) 3px solid;
    border-radius: 20px;
    background-color: rgba(57, 189, 108, 0.469);
    min-width: 250px;
}

.entradas{
    color: rgb(253, 252, 156);
    background-color: #10643766;
    padding: 10px;
    font-size: 2.5em;
    font-weight: 300;
    border-radius: 10px;
    width: fit-content;
    align-self: center;
}
.menu-items a{
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: 1.8em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
